<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A multiresolution prostate representation for automatic segmentation in magnetic resonance images.
			</span><br />
			<span class="authors">
				Charlens Alvarez, Fabio Martinez, and Eduardo Romero.
			</span><br />
			<span class="venuetype"></span><span class="venue">Medical Physics 44(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A spatio-temporal multi-scale motion descriptor from a spatially-constrained decomposition for online action recognition.
			</span><br />
			<span class="authors">
				Fabio Martinez, Antoine Manzanera, and Eduardo Romero.
			</span><br />
			<span class="venuetype"></span><span class="venue">IET Computer Vision</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Design, development and validation of a new laryngo-pharyngeal endoscopic esthesiometer and range-finder based on the assessment of air-pulse variability determinants.
			</span><br />
			<span class="authors">
				Luis F Giraldo-Cadavid, Luis Mauricio Agudelo-Otalora, Javier Burguete, Mario Arbulu, William Daniel Moscoso, Fabio Martinez, Andres Felipe Ortiz, Juan Diaz, Jaime A Pantoja, Andres Felipe Rueda-Arango, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Biomedical engineering online 15(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
